<html lang="en"><!-- Head --><head>
    <!-- Page Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
  
    <!-- Custom Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&amp;family=Roboto:wght@300;400;700&amp;display=auto" rel="stylesheet">
  
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/V- vogue/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/V- vogue/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/V- vogue/favicon-16x16.png">
    <link rel="mask-icon" href="./assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="./assets/css/libs.bundle.css">
  
    <!-- Main CSS -->
    <link rel="stylesheet" href="./assets/css/theme.bundle.css">
  
    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
      <style>
        /**
            * Reinstate scrolling for non-JS clients
            */
        .simplebar-content-wrapper {
          overflow: auto;
        }
      </style>
    </noscript>
  
    <!-- Page Title -->
    <title>VisualVogue</title>
  
  <style type="text/css">.medium-zoom-overlay{position:fixed;top:0;right:0;bottom:0;left:0;opacity:0;transition:opacity .3s;will-change:opacity}.medium-zoom--opened .medium-zoom-overlay{cursor:pointer;cursor:zoom-out;opacity:1}.medium-zoom-image{cursor:pointer;cursor:zoom-in;transition:transform .3s cubic-bezier(.2,0,.2,1)!important}.medium-zoom-image--hidden{visibility:hidden}.medium-zoom-image--opened{position:relative;cursor:pointer;cursor:zoom-out;will-change:transform}</style><style type="text/css">.medium-zoom-overlay{position:fixed;top:0;right:0;bottom:0;left:0;opacity:0;transition:opacity .3s;will-change:opacity}.medium-zoom--opened .medium-zoom-overlay{cursor:pointer;cursor:zoom-out;opacity:1}.medium-zoom-image{cursor:pointer;cursor:zoom-in;transition:transform .3s cubic-bezier(.2,0,.2,1)!important}.medium-zoom-image--hidden{visibility:hidden}.medium-zoom-image--opened{position:relative;cursor:pointer;cursor:zoom-out;will-change:transform}</style></head>
  <body class="page-loaded" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
  
      <!-- Navbar -->
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
          <div class="container-fluid">
              <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
      
                      <!-- Logo-->
                      <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                          <div class="d-flex align-items-center">
                              <img src="./assets/images/V- vogue/dAE9h601 (1).svg" style="width: 50%;" alt="logo">    
                          </div>
                      </a>
                      <!-- / Logo-->
      
                      <!-- Navbar Icons-->
                      <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">
      
                          <!-- Mobile Nav Toggler-->
                          <li class="d-lg-none">
                              <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                          </li>
                          <!-- /Mobile Nav Toggler-->
      
                          <!-- Navbar Search-->
                          <li class="d-none d-sm-block">
                              <span class="nav-link text-body search-trigger cursor-pointer">Search</span>
      
                              <!-- Search navbar overlay-->
                              <div class="navbar-search d-none">
                                  <div class="input-group mb-3 h-100">
                                      <span class="input-group-text px-4 bg-transparent border-0"><i class="ri-search-line ri-lg"></i></span>
                                      <input type="text" class="form-control text-body bg-transparent border-0" placeholder="Enter your search terms...">
                                      <span class="input-group-text px-4 cursor-pointer disable-child-pointer close-search bg-transparent border-0"><i class="ri-close-circle-line ri-lg"></i></span>
                                  </div>
                              </div>
                              <div class="search-overlay"></div>
                              <!-- / Search navbar overlay-->
      
                          </li>
                          <!-- /Navbar Search-->
      
                          <!-- Navbar Login-->
                          <li class="ms-1 d-none d-lg-inline-block">
                              <a class="nav-link text-body" href="./login.html">
                                  Log In
                              </a>
                          </li>
                          <!-- /Navbar Login-->
      
                          <!-- Navbar Cart Icon-->
                          <li class="ms-1 d-inline-block position-relative dropdown-cart">
                              <button class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body" type="button">
                                  Bag (2)
                              </button>
                              <div class="cart-dropdown dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1166px, 78px);" data-popper-placement="bottom-end">
                              
                                  <!-- Cart Header-->
                                  <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
                                      <h6 class="fw-bolder m-0">Cart Summary (2 items)</h6>
                                      <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>
                                  </div>
                                  <!-- / Cart Header-->
                              
                                  <!-- Cart Items-->
                                  <div>
                              
                                      <!-- Cart Product-->
                                      <div class="row mx-0 py-4 g-0 border-bottom">
                                          <div class="col-2 position-relative">
                                              <picture class="d-block ">
                                                  <img class="img-fluid" src="./assets/images/products/product-cart-1.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                              </picture>
                                          </div>
                                          <div class="col-9 offset-1">
                                              <div>
                                                  <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                      Nike Air VaporMax 2021
                                                      <i class="ri-close-line ms-3"></i>
                                                  </h6>
                                                  <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 9 / Qty: 1</span>
                                              </div>
                                              <p class="fw-bolder text-end text-muted m-0">$85.00</p>
                                          </div>
                                      </div>
                                      <!-- Cart Product-->
                                      <div class="row mx-0 py-4 g-0 border-bottom">
                                          <div class="col-2 position-relative">
                                              <picture class="d-block ">
                                                  <img class="img-fluid" src="./assets/images/products/product-cart-2.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                              </picture>
                                          </div>
                                          <div class="col-9 offset-1">
                                              <div>
                                                  <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                      Nike ZoomX Vaporfly
                                                      <i class="ri-close-line ms-3"></i>
                                                  </h6>
                                                  <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: 11 / Qty: 1</span>
                                              </div>
                                              <p class="fw-bolder text-end text-muted m-0">$125.00</p>
                                          </div>
                                      </div>
                                  </div>
                                  <!-- /Cart Items-->
                              
                                  <!-- Cart Summary-->
                                  <div>
                                      <div class="pt-3">
                                          <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                                              <div>
                                                  <p class="m-0 fw-bold fs-5">Grand Total</p>
                                                  <span class="text-muted small">Inc $45.89 sales tax</span>
                                              </div>
                                              <p class="m-0 fs-5 fw-bold">$422.99</p>
                                          </div>
                                      </div>
                                      <a href="./cart.html" class="btn btn-outline-dark w-100 text-center mt-4" role="button">View Cart</a>
                                      <a href="./checkout.html" class="btn btn-dark w-100 text-center mt-2" role="button">Proceed To Checkout</a>
                                  </div>
                                  <!-- / Cart Summary-->
                                </div>
                              
      
                          </li>
                          <!-- /Navbar Cart Icon-->
      
                      </ul>
                      <!-- Navbar Icons-->                
      
                      <!-- Main Navigation-->
                      <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1" id="navbarNavDropdown">
      
                          <!-- Menu-->
                          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                              <li class="nav-item dropdown dropdown position-static">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  HOME
                                </a>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    THEMES
                                  </a>
                                  
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="./category.html" role="button">
                                    CHAT
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="goToProfile" role="button" >
                                    PROFILE
                                  </a>
                                </li>
                                <!-- <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    PROFILE
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./index.html">Homepage</a></li>
                                    <li><a class="dropdown-item" href="./category.html">Category</a></li>
                                    <li><a class="dropdown-item" href="./product.html">Product</a></li>
                                    <li><a class="dropdown-item" href="./cart.html">Cart</a></li>
                                    <li><a class="dropdown-item" href="./checkout.html">Checkout</a></li>
                                    <li><a class="dropdown-item" href="./login.html">Login</a></li>
                                    <li><a class="dropdown-item" href="./register.html">Register</a></li>
                                    <li><a class="dropdown-item" href="./forgotten-password.html">Forgotten Password</a></li>
                                  </ul>
                                </li> -->
                            </ul>                    <!-- / Menu-->
      
                      </div>
                      <!-- / Main Navigation-->
      
                  </div>
              </div>
          </div>
      </nav>
      <!-- / Navbar-->    <!-- / Navbar-->
  
      <!-- Main Section-->
      <section class="mt-0 overflow-hidden ">
          <!-- Page Content Goes Here -->
  
          <!-- / Top banner -->
          <section class="vh-75 vh-lg-60 container-fluid rounded overflow-hidden aos-init aos-animate" data-aos="fade-in">
              <!-- Swiper Info -->
              <div class="swiper-container overflow-hidden rounded h-100 bg-light swiper-container-fade swiper-container-initialized swiper-container-horizontal" data-swiper="" data-options="{
                &quot;spaceBetween&quot;: 0,
                &quot;slidesPerView&quot;: 1,
                &quot;effect&quot;: &quot;fade&quot;,
                &quot;speed&quot;: 1000,
                &quot;loop&quot;: true,
                &quot;parallax&quot;: true,
                &quot;observer&quot;: true,
                &quot;observeParents&quot;: true,
                &quot;lazy&quot;: {
                  &quot;loadPrevNext&quot;: true
                  },
                  &quot;autoplay&quot;: {
                    &quot;delay&quot;: 5000,
                    &quot;disableOnInteraction&quot;: false
                },
                &quot;pagination&quot;: {
                  &quot;el&quot;: &quot;.swiper-pagination&quot;,
                  &quot;clickable&quot;: true
                  }
                }">
                <div class="swiper-wrapper" style="transition-duration: 0ms;"><div class="swiper-slide position-relative h-100 w-100 swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-3.jpg&quot;); transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">Look Good Feel Good</p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(100px, 0px, 0px);">
                        <span class="text-outline-light">Sustainable</span> Fashion</h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, -25px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Why We Are Different</a>
                      </div>
                    </div>
                  </div>
              
                  <!-- Slide-->
                  <div class="swiper-slide position-relative h-100 w-100 swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(-1096px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-1.jpg&quot;); transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="color: black; transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">Explore the Art </p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(100px, 0px, 0px);">
                        <span class="text-outline-light">Modern</span> Art</h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, -25px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Visit the art</a>
                      </div>
                    </div>
                  </div>
                  <!-- /Slide-->
              
                  <!-- Slide-->
                  <div class="swiper-slide position-relative h-100 w-100" data-swiper-slide-index="1" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(-2192px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-2.jpg&quot;); transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">Let's build an Art Community</p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(100px, 0px, 0px);">
                        Acrylic <span class="text-outline-light">World</span></h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, -25px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Shop Latest Adidas</a>
                      </div>
                    </div>
                  </div>
                  <!--/Slide-->
              
                  <!-- Slide-->
                  <div class="swiper-slide position-relative h-100 w-100" data-swiper-slide-index="2" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(-3288px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-4.jpg&quot;); transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">Just Do it</p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(100px, 0px, 0px);">
                        Nike <span class="text-outline-light">SS21</span></h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, -25px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Shop Latest Nike</a>
                      </div>
                    </div>
                  </div>
                  <!-- /Slide-->
              
                  <!--Slide-->
                  <div class="swiper-slide position-relative h-100 w-100 swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="3" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(-4384px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-3.jpg&quot;); transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="transition-duration: 0ms; transform: translate3d(-100px, 0px, 0px);">Look Good Feel Good</p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(100px, 0px, 0px);">
                        <span class="text-outline-light">Sustainable</span> Fashion</h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, -25px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Why We Are Different</a>
                      </div>
                    </div>
                  </div>
                  <!--/Slide-->
              
                <div class="swiper-slide position-relative h-100 w-100 swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 1096px; transition-duration: 0ms; opacity: 1; transform: translate3d(-5480px, 0px, 0px);">
                    <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                      <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden" data-swiper-parallax="-100" style="will-change: transform; background-image: url(&quot;./assets/images/banners/banner-1.jpg&quot;); transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                      </div>
                    </div>
                    <div class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                      <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100" style="color: black; transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">Explore the Art </p>
                      <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white" data-swiper-parallax="100" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <span class="text-outline-light">Modern</span> Art</h2>
                      <div data-swiper-parallax-y="-25" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <a href="./category.html" class="btn btn-psuedo text-white" role="button">Visit the art</a>
                      </div>
                    </div>
                  </div></div>
              
                <div class="swiper-pagination swiper-pagination-bullet-light swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
              
              </div>
              <!-- / Swiper Info-->        </section>
          <!--/ Top Banner-->
  
          <!-- Featured Brands-->
          
          <!--/ Featured Brands-->
  
          
  
          <!-- /Page Content -->
      </section>
      <!-- / Main Section-->
  
      <!-- Footer -->
          <!-- / Footer-->
  
  
      <!-- Theme JS -->
      <!-- Vendor JS -->
      <script src="./assets/js/vendor.bundle.js"></script>
      
      <!-- Theme JS -->
      <script src="./assets/js/theme.bundle.js"></script>

  
  
  </body></html>